# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
.venv
env/
venv/
ENV/

# VS Code
.vscode/

# Project Specific
**/piper/
**/Speech.wav
**/temp_input_*.txt
# Data folder internals
**/data/*
!**/data/.gitkeep

# Piper
**/piper.zip
